<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ViewTop3Mentor</servlet-name>
        <servlet-class>controller.ViewTop3Mentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSkillManager</servlet-name>
        <servlet-class>controller.AdminSkillManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllAccount</servlet-name>
        <servlet-class>controller.ViewAllAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>controller.ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddAccount</servlet-name>
        <servlet-class>controller.AdminAddAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditAccount</servlet-name>
        <servlet-class>controller.AdminEditAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllRequest</servlet-name>
        <servlet-class>controller.ViewAllRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRequest</servlet-name>
        <servlet-class>controller.CreateRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRequestDetail</servlet-name>
        <servlet-class>controller.ViewRequestDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewTop3Mentor</servlet-name>
        <url-pattern>/ViewTop3Mentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSkillManager</servlet-name>
        <url-pattern>/AdminSkillManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllAccount</servlet-name>
        <url-pattern>/ViewAllAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddAccount</servlet-name>
        <url-pattern>/AdminAddAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditAccount</servlet-name>
        <url-pattern>/AdminEditAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllRequest</servlet-name>
        <url-pattern>/ViewAllRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRequest</servlet-name>
        <url-pattern>/CreateRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRequestDetail</servlet-name>
        <url-pattern>/ViewRequestDetail</url-pattern>
    </servlet-mapping>
</web-app>
